@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: #000000;
}

img{
    object-fit: cover;
}
body{
    background-color: #f1f1f1;
}
nav{
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav a.logo{
    font-size: 33px;
    color: #021810;
    font-weight: 600;
}

nav .links a:not(:last-child){
    margin-right: 20px;
}

nav .login button{
    padding: 8px 14px;
    border: none;
    margin-right: 14px;
    cursor: pointer;
    background-color: transparent;
}

nav .login button.signup{
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    margin-left: 14px;
}
header{
    padding: 0 80px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left-header{
    width: 700px;
}
header .left-header h1 {
    font-size: 80px;
}
header .left-header p{
    margin: 40px 0;
    color: #777;
}
header .left-header a{
    display: flex;
    align-items: center;
    background-color: #000000;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
}
header .left-header a i{
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px;
}
header .left-header a span{
    color: #ffffff;
    margin-left: 10px;
    font-size: 20px;
}
header img{
    width: 600px;
}

